:root {
  --background-color: #f2f5f7;

  --padding-spacing: 1.25rem;
  --main-border-radius: 6px;

  --header-padding: 10px;

  --primary-blue:  #3B82F6;

  --primary-button-dark: color-mix(in srgb, var(--primary-blue,  #3B82F6), #000000)
}
