<fieldset [style.--background-grad-degree]="inputFocusBgDeg">
  <label for="hymn-search-input">Search Hymns</label>
  <input type="text" id="hymn-search-input" placeholder="Search Hymns" [(ngModel)]="searchQuery"
    (ngModelChange)="queryDb()" (focus)="focusInput()" (blur)="loseFocus()">
  <div class="blank" *ngIf="searchQuery.length > 0" (blur)="loseFocus()">

    <div class="hymn-item-wrapper" *ngFor="let hymn of friends$ | async; index as i; trackBy: hymnTrackbyFn">
      <app-hymn-sidebar-item [hymnItem]="hymn" (click)="pickHymn(hymn.id)" />
    </div>
  </div>
</fieldset>

<section>
  <div class="hymn-list-filter-wrapper">
    <div class="hymn-list-filter" role="button" *ngFor="let button of buttonFilters"
      [ngClass]="{'selected': button.selected}" [title]="button.name" (click)='filterHymns(button)'>{{button.name}}
    </div>
    <!-- <div type="button" title="Reload Database" role="button" class="hymn-list-filter__refresh" (click)="reloadDb()">
      <i class="pi pi-refresh"></i>
    </div> -->
  </div>
  <div class="hymn-list-wrapper" *ngIf="buttonFilters[0].selected else allHymns">
    <div class="zero-hymns" *ngIf="zeroHymns">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <div class="zero-hymns__title">
        Loading Hymns...
      </div>
    </div>

    <div class="hymn-item-wrapper"
      *ngFor="let hymn of hymnItemsArr$ | async; index as i; trackBy: simpleHymnItemsTrackByFn">
      <app-hymn-sidebar-item [hymnItem]="hymn" [lastOpenedEnabled]="true" (click)="pickHymn(hymn.id)" />
    </div>
  </div>
  <ng-template #allHymns>
    <div class="hymn-list-wrapper">
      <div class="zero-hymns" *ngIf="zeroHymns">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <div class="zero-hymns__title">
          Loading Hymns...
        </div>
      </div>
      <div class="hymn-item-wrapper" *ngFor="let hymn of allSimpleHymns$ | async; index as i; trackBy: hymnTrackbyFn">
        <app-hymn-sidebar-item [hymnItem]="hymn" [lastOpenedEnabled]="true" (click)="pickHymn(hymn.id)" />
      </div>
      <div class="hymn-paginator">
        <!-- <div class="hymn-paginator__left">
          <i class="pi pi-arrow-left"></i>
        </div>
        <div class="hymn-paginator__middle">

        </div>
        <div class="hymn-paginator__right">
          <i class="pi pi-arrow-right"></i>
        </div> -->

        <p-paginator (onPageChange)="onPageChange($event)" [first]="offset" [rows]="10" [totalRecords]="hymnsLength"
          [pageLinkSize]="3"></p-paginator>

      </div>
    </div>
  </ng-template>
</section>

<!-- <section class="marp-controls">

</section> -->