<fieldset [style.--background-grad-degree]="inputFocusBgDeg">
  <label for="hymn-search-input"></label>
  <input type="text" id="hymn-search-input" placeholder="Search through hymns here" [(ngModel)]="searchQuery"
    (ngModelChange)="queryDb()" (focus)="focusInput()" (blur)="loseFocus()">
  <div class="blank" *ngIf="searchQuery.length > 0">
    <div class="hymn-select-item" *ngFor="let hymn of friends$ | async; index as i; trackBy: hymnTrackbyFn"
      (click)="pickHymn(hymn.id)">
      <div class="hymn-select-item__number">
        {{hymn.hymnNumber}}
      </div>
      <h3 class="hymn-select-item__title">
        {{hymn.name}}
      </h3>
    </div>
  </div>
</fieldset>

<section>
  <div class="hymn-list-filter-wrapper">
    <div class="hymn-list-filter" role="button" *ngFor="let button of buttonFilters"
      [ngClass]="{'selected': button.selected}" (click)='filterHymns(button)'>{{button.name}}</div>
    <!-- <div class="reload-btn" (click)="reloadDb()"></div> -->
  </div>
  <div class="hymn-list-wrapper" *ngIf="buttonFilters[0].selected else allHymns">
    <div class="hymn-select-item"
      *ngFor="let hymn of hymnItemsArr$ | async; index as i; trackBy: simpleHymnItemsTrackByFn"
      [style]="'--hymn-number: '+hymn.hymnNumber" [attr.data-number]="hymn.hymnNumber" (click)="pickHymn(hymn.id)">
      <div class="hymn-select-item__number">
        {{hymn.hymnNumber}}
      </div>
      <h3 class="hymn-select-item__title">
        {{hymn.name}}
      </h3>
    </div>
  </div>
  <ng-template #allHymns>
    <div class="hymn-list-wrapper">
      <div class="hymn-select-item" *ngFor="let hymn of allSimpleHymns$ | async; index as i; trackBy: hymnTrackbyFn"
        [style]="'--hymn-number: '+hymn.hymnNumber" [attr.data-number]="hymn.hymnNumber" (click)="pickHymn(hymn.id)">
        <div class="hymn-select-item__number">
          {{hymn.hymnNumber}}
        </div>
        <h3 class="hymn-select-item__title">
          {{hymn.name}}
        </h3>
      </div>
    </div>
  </ng-template>
</section>

<section class="marp-controls">

</section>
