<div *ngFor="let result of results">
  <div *ngIf="result['properties']['Name']['rich_text'][0]">
    {{result['properties']['Name']['rich_text'][0]['plain_text']| json}}
  </div>

  <!-- <div *ngIf='result["properties"]["Name"]["rich_text"]["text"]["content"]'></div> -->
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
