<header class="header" [ngClass]="{'fullscreen': fullscreen}">

  <div class="header__left">
    <p-button [rounded]="true" icon="pi pi-chevron-left" size='small' [text]="true" *ngIf="isHymnPage()" type="button"
      title="go Back" class="p-button-success" (onClick)="backToHymnsList()"></p-button>
    <h1 class="header__title">
      CAC Hymns <span>{{selectedSimpleHymn ? " - "  + selectedSimpleHymn.hymnNumber + ' - ' + selectedSimpleHymn.name : ''}}</span>
    </h1>

  </div>
  <div class="header__right">

    <p-button [rounded]="false" icon="pi pi-window-maximize" [text]="false" size='small' iconPos="right" *ngIf="isHymnPage()"
      type="button" title="Present" label="Present" class="p-button-success" (onClick)="setFullScreen()"></p-button>
  </div>
  <!-- <button (click)="getNotionResponse()">Reload</button> -->
  <!-- <button type="button" (click)="pushToDb()">push to DB</button> -->
</header>
<aside [ngClass]="{'fullscreen': fullscreen}">
  <app-hymn-sidebar [simpleHymns]="hymnsList" (selectedHymnId)="selectHymnId($event)"
    (reload)="getNotionResponse()"></app-hymn-sidebar>
</aside>
<main id="main" [ngClass]="{'fullscreen': fullscreen}">
  <router-outlet />

  <!-- </router-outlet> -->

</main>
<app-pwa-notif/>
<!-- <div *ngFor="let result of results; index as i; trackBy: notionPageTrackByFn">
  <div *ngIf="result['properties']['Name']['rich_text'][0]">
    {{result['properties']['Name']['rich_text'][0]['plain_text']| json}}
  </div>
</div> -->


<!-- <router-outlet></router-outlet> -->
