@import './styles/card-div.scss';

:host {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: 45px 1fr;
  gap: 10px 1px;

  width: 100%;
  // max-width: 99vw;
  height: 100%;
  box-sizing: border-box;
  margin-block: auto;
  place-items: center stretch;
  padding: 5px 10px;

  border-radius: 10px;
  header {
    // grid-column: span 2;

    padding: 11px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid rgba(34, 34, 34, 0.1333333333);
    background: #fff;
    border-radius: 2px;
    padding: 10px;
    button:first-child {
      display: none;
    }
    button {
      height: auto;
      padding: 0;
    }

    &.fullscreen {
      display: none;
    }
  }
   main, aside {
    // @extend .card-div;
    place-self: stretch;
    padding: var(--padding-spacing), 5px;

  }
  aside {
    width: clamp(150px, 25vw, 300px);
    place-self: stretch;
    // padding: var(--padding-spacing);
    display: grid;
    place-items: stretch;
    grid-row: 1/span 2;
    border: 1px solid rgba(34, 34, 34, 0.1333333333);
    background: #fff;
    border-radius: 2px;
    padding: 10px;
  }

  aside.fullscreen {
    display: none;
  }

  main {
    min-height: 60vh;
    min-height: 60dvh;
    min-height: 60svh;
    display: grid;

    place-items: center stretch;
  &.fullscreen {
    min-height: 97vh;
    min-height: 97dvh;
    min-height: 97svh;
    grid-column: span 2;
    place-items: center stretch;

    place-self: stretch;
  }
  }
}

@media only screen and (max-width: 600px) {
  :host {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;

    header {
      button:first-child {
        display: block;
      }

      min-height: calc(3rem + (2 * 10px)); // padding of p-button + padding in header
    }

    aside {
      display: none;
    }
  }

}
