<div class="marp-wrapper" id="marp" [ngClass]="{'not-placeholder': html[0]}">
  <!-- <div id="template-div" *ngIf="showHymns else marpitPlcHldr" [innerHTML]='data[index]' class='marpit' -->
    <div id="template-div" [innerHTML]='data[index]' class='marpit' [ngClass]="{'fullscreen': fullscreenState}">

  </div>

  <!-- <ng-template #marpitPlcHldr>

    <div class="marpit-placeholder">
      <div class="marpit-placeholder__image"></div>
    </div>
  </ng-template> -->

  <div class="buttons" *ngIf="fullscreenState" [ngClass]="{'fullscreen': fullscreenState}">
    <button type="button" class="fullscreen" title='minimise' (click)="fullscreen()">
      <i class="pi pi-window-minimize"></i>
    </button>

    <button type="button" class="previous" [disabled]="index == 0"
      (click)="index = (index-1) % (data.length)">&larr;-</button>
    <h4>{{index +1}} of {{data.length}}</h4>
    <button type="button" class="previous" [disabled]="index == data.length-1"
      (click)="index = (index+1) % (data.length)">&rarr;</button>

  </div>

  <div class="marp-details" [ngClass]="{'fullscreen': fullscreenState}">

    <div *ngIf="showHymns" class="details-bottom">
      <div class="details-bottom--title">
        {{hymnItem.hymnNumber}} - {{hymnItem.name}}
      </div>


    </div>
    <div class="buttons" [ngClass]="{'fullscreen': fullscreenState}" *ngIf="showHymns">
      <div role="button" title="fullscreen" class="fullscreen" (click)="fullscreen()">
        <!-- <img width="30" src="../../assets/maximise.svg" alt=""> -->
        <i class="pi pi-window-maximize"></i>

        <!-- <label style="display: none;"> Fullscreen</label> -->
      </div>

      <!-- <div role="button" title="previous" class="previous" [disabled]="index == 0" -->
      <div role="button" title="previous" class="previous" (click)="index = (index-1) % (data.length)"
        [attr.aria-disabled]="index == 0">
        <!-- <object data="../../assets/left-arrow.svg" type=""></object> -->
        <i class="pi pi-arrow-left"></i>

      </div>
      <h4 class="button-num-text">{{index +1}} of {{data.length}}</h4>
      <!-- <div type="button" class="previous" [disabled]="index == data.length-1" -->
      <div role="button" title="next" type="button" class="next" (click)="index = (index+1) % (data.length)"
        [attr.aria-disabled]="index == data.length-1">
        <!-- <object data="../../assets/left-arrow.svg" type=""></object> -->
        <i class="pi pi-arrow-right"></i>

      </div>

      <div role="button" title="download" type="button" class="download" (click)="index = (index+1) % (data.length)"
        [attr.aria-disabled]="index == data.length-1">
        <!-- <img src="../../assets/download-icon.svg" alt=""> -->
        <i class="pi pi-download"></i>

      </div>

    </div>
  </div>

</div>

<style>
  :host {
    /* height: 100%; */
    display: block;

    display: grid;
    place-items: stretch;
  }


  .marpit {
    display: grid;
    place-items: center;
    z-index: 35;

  }


  .buttons {
    position: absolute;
    bottom: 5px;

    display: flex;
    justify-content: start;
    gap: 10px;
    width: 100%;

    margin: 0 auto;
    /* background: #4441; */
    /* color: #4444; */
    padding: 0;
    border-radius: 10px;
    z-index: 50;

  }

  .buttons.fullscreen {
    bottom: -40px;
  }

  .buttons button {
    height: fit-content;
    padding: 4px;
  }

  .buttons h4 {
    margin: 0;
  }
</style>
