<!-- <p>{{file}}</p> -->
<!-- <div class="marp-wrapper" *ngIf="html.length > 0"> -->
<div class="marp-wrapper" [ngClass]="{'not-placeholder': html[0]}">
  <!--  -->
    [ngClass]="{'fullscreen': fullscreenState}">
  </div>

  <ng-template #marpitPlcHldr>

    <div class="marpit-placeholder">
      <div class="marpit-placeholder__image"></div>
    </div>
  </ng-template>

  <div class="buttons" [ngClass]="{'fullscreen': fullscreenState}" *ngIf="html[0]">
    <button type="button" class="fullscreen" (click)="fullscreen()">{{!fullscreenState ? 'maximise' :
      'minimise'}}</button>

    <button type="button" class="previous" [disabled]="index == 0"
      (click)="index = (index-1) % (data.length)">&larr;-</button>
    <h4>{{index +1}} of {{data.length}}</h4>
    <button type="button" class="previous" [disabled]="index == data.length-1"
      (click)="index = (index+1) % (data.length)">&rarr;</button>

  </div>
</div>

<style>
  :host {
    /* height: 100%; */
    display: block;

    display: grid;
    place-items: stretch;
  }


  .marpit {
    display: grid;
    place-items: center;
    z-index: 35;

  }


  .buttons {
    position: absolute;
    bottom: 5px;

    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;

    margin: 0 auto;
    /* background: #4441; */
    color: #4444;
    padding: 0;
    border-radius: 10px;
    z-index: 50;

  }

  .buttons.fullscreen {
    bottom: -40px;
  }

  .buttons button {
    height: fit-content;
    padding: 4px;
  }

  .buttons h4 {
    margin: 0;
  }
</style>
